.footer-bottom {
    border: 1px solid rgba(255, 255, 255, 0.02);
    padding: 20px 0;
    background: #000000;
}

.footer-bottom p {
    margin: 0;
}

.shuffle-wrapper {
    margin-left: 0px !important;
    margin-right: 0px !important;
}


/* news article */

.entry-content img {
    max-width: 100%;
    height: auto;
    border-radius: .25rem !important;
}

.posts-thumb img {
    border-radius: .25rem !important;
}

.post-image img {
    border-radius: .25rem !important;
}

.latest-post-media img {
    border-radius: .25rem !important;
}

.team-img-wrapper img {
    border-radius: .25rem !important;
}

.content-inner-page img {
    max-width: 100%;
    height: auto;
    border-radius: .25rem !important;
}

.project-single img {
    max-width: 100%;
    height: auto;
    border-radius: .25rem !important;
}


/* ads */

.footer-ad img {
    max-width: 100%;
    /* Memastikan gambar tidak melebihi lebar container */
    height: auto;
    /* Mempertahankan rasio aspek gambar */
}

.middle-ad img {
    max-width: 100%;
    /* Menjamin gambar tidak melebihi lebar container */
    height: auto;
    /* Mempertahankan rasio aspek gambar */
}


/* custom css for banner-area */

.banner-area::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Ubah 0.5 untuk tingkat gelap */
}

@media (max-width:768px) {
    .banner-area {
        min-height: 150px;
    }
}


/* custom css for service area */

@media (max-width:768px) {
    .ts-service-box .ts-service-box-info {
        margin-bottom: 20px !important;
    }
}


/* custom css for news list */


/* Menyamaratakan tinggi dan lebar gambar */

.post-image img {
    width: 100%;
    /* Mengisi lebar kontainer */
    height: 300px;
    /* Atur tinggi sesuai kebutuhan */
    object-fit: cover;
    /* Menyimpan rasio aspek gambar dan mengisi kontainer */
    display: block;
    /* Menghilangkan spasi bawah gambar */
}


/* custom css for widget portfolios */


/* Menyamaratakan tinggi dan lebar gambar */

.project-img-container img {
    width: 100%;
    height: 250px;
    /* Sesuaikan tinggi gambar */
    object-fit: cover;
    /* Mengatur gambar agar tetap proporsional */
    border-radius: 5px;
    /* Opsional: untuk membuat sudut gambar membulat */
}

.latest-post-media img {
    width: 100%;
    height: 250px;
    /* Sesuaikan dengan tinggi yang diinginkan */
    object-fit: cover;
}

.gallery-slider .img img {
    width: 100%;
    height: 250px;
    /* Sesuaikan tinggi sesuai preferensi Anda */
    object-fit: cover;
}

.logo-2 img {
    width: auto;
    height: 50px;
}


